/*ASIGNACION DE COLORES EN VARIABLES SASS*/
$navbar-brand-font-size:  2.8rem;
$navbar-light-color: #a59233;
$navbar-light-brand-color: #a59233;
$light: #2C4770;
$navbar-light-active-color: #FFD300;
$navbar-light-hover-color:  #FFD300;
$form-feedback-font-style: 'Outfit';
