/*media queries*/
@media (max-width: 810.98px){ 
    .font_navbar{
        font-size: 1.3rem;
    }
    .font_carousel{
        font-family: 'Outfit';
        font-size: 1.3rem;
        text-align: left;
        color: #FFD300;
        text-shadow: 1px 1px 2px black;
    }
    .font_contacto1Linea{
    font-family: 'Outfit';
    font-size: 1.2rem;
    text-align: center;
    }
    .font_contacto2Linea{
    font-family: 'Outfit';
    font-size: 1.2rem;
    text-align: center;
    }
    
    @mixin font_CONTACTO{
        font-family: 'Outfit';
        font-size: 1.2rem;
        text-align: center;
        text-shadow: 1px 1px 2px black;
    }
    .font_contacto1Linea{
        @include font_CONTACTO;
        margin-top: 4rem;
    }
    .font_contacto2Linea{
        @include font_CONTACTO;
    }
    .promociones{
        h1{
            font-size: 2.2rem;
            text-align: center;
            text-shadow: 1px 1px 2px black;
            color: #FFD300;
        }
        img{
            width: 100%;
            height: 30vh;
            margin: auto;
        }
        p{
            font-size: 1.5rem;
            text-align: center;
            text-shadow: 1px 1px 2px black;
            color: #FFD300;
        }
        h3{
            font-size: 1.9rem;
            text-align: center;
            text-shadow: 1px 1px 2px black;
            color:#2C4770;
        }
    }
    .carousel-item{
        
        height: 33vh;
        img{
            
            height: 33vh;
            
        }
    }
    .card-img{
        height: 25vh;
            }

                }