@import "reset";
@import "nosotros";
@import "navbar";

.promociones{
    h1{
        font-size: 4rem;
        text-align: center;
        text-shadow: 1px 1px 2px black;
        color: #FFD300;
    }
    img{
        width: 20%;
        height: 20%;
        margin-left: 40%;
    }
    p{
        font-size: 2rem;
        text-align: center;
        text-shadow: 1px 1px 2px black;
        color: #FFD300;
    }
    h3{
        font-size: 1.5rem;
        text-align: center;
        text-shadow: 1px 1px 2px black;
        color:#2C4770;
    }
}



/*MIXING*/
@mixin font_CONTACTO{
    font-family: 'Outfit';
    font-size: 4rem;
    text-align: center;
    text-shadow: 1px 1px 2px black;
}

/*css*/

.font_carousel{
    font-family: 'Outfit';
    font-size: 1.9rem;
    text-align: left;
    color: #FFD300;
    text-shadow: 1px 1px 2px black;
}
.font_contacto1Linea{
    @include font_CONTACTO;
    margin-top:10%;
}
.font_contacto2Linea{
    @include font_CONTACTO;
}

.estilo_footer{
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
    background-color: #2C4770;
    bottom: 0;

}


/*ASIGNACION DE VARIABLES*/
$navbar-brand-font-size:  2.8rem;
$navbar-light-color: #a59233;
$navbar-light-brand-color: #a59233;
$light: #2C4770;
$navbar-light-active-color: #FFD300;
$navbar-light-hover-color:  #FFD300;
$form-feedback-font-style: 'Outfit';

/*media queries*/
@media (max-width: 767.98px){ 
    .font_navbar{
        font-size: 1.3rem;
    }
    .font_carousel{
        font-family: 'Outfit';
        font-size: 1.3rem;
        text-align: left;
        color: #FFD300;
        text-shadow: 1px 1px 2px black;
    }
    .font_contacto1Linea{
    font-family: 'Outfit';
    font-size: 1.2rem;
    text-align: center;
    }
    .font_contacto2Linea{
    font-family: 'Outfit';
    font-size: 1.2rem;
    text-align: center;
    }
    .img_carousel_mobile{
        margin:auto;
        height: 400px;
    }
    @mixin font_CONTACTO{
        font-family: 'Outfit';
        font-size: 1.2rem;
        text-align: center;
        text-shadow: 1px 1px 2px black;
    }
    .font_contacto1Linea{
        @include font_CONTACTO;
        margin-top: 5%;
    }
    .font_contacto2Linea{
        @include font_CONTACTO;
    }
    .promociones{
        h1{
            font-size: 2rem;
            text-align: center;
            text-shadow: 1px 1px 2px black;
            color: #FFD300;
        }
        img{
            width: 20%;
            height: 20%;
            margin-left: 40%;
        }
        p{
            font-size: 1rem;
            text-align: center;
            text-shadow: 1px 1px 2px black;
            color: #FFD300;
        }
        h3{
            font-size: 1.3rem;
            text-align: center;
            text-shadow: 1px 1px 2px black;
            color:#2C4770;
        }
    }
}

.sinMargen{
    padding:0; 
    margin:0; 
}


/*IMPORTACION DE BOOTSTRAP*/
@import "../node_modules/bootstrap/scss/bootstrap.scss";
